/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2016, 10:20:26
    Author     : Francke
*/

.login{
    position:relative; 
    width: 350px; 
    height: 170px;
    border-radius: 25px;
    border: 2px solid #a1a1a1;
    padding: 20px 62px; 
    background: #dddddd;   
}

.alerta{
    position:relative; 
    width: 420px; 
    padding-right: -20px;
    margin-top: 15px;
    
}